:root {
    --main: #f6eaf5;
  }
  
  
  html {
    height: 100%;
    width: 100%;
    font-family: "Oblegg";
    background-color: var(--main);
    accent-color: #dac9ad;
  }
  
  @font-face {
    font-family: "velishin";
    src: url("Velishin-Script-Regular.otf") format("opentype");
  }
  
  @font-face {
    font-family: "Oblegg";
    src: url("Oblegg-Regular.otf") format("opentype");
  }
  
  
  
  textarea {
    margin: auto;
    padding-left: 1%;
    display: grid;
    justify-content: center;
    background: url(https://www.worldanvil.com/uploads/images/1fea3f76e20423fa5282e0cf246c0b36.jpg);
    font-family: "velishin";
    resize: none;
    width: 90dvh;
    height: 90dvw;
    font-size: 2rem;
    writing-mode: vertical-lr;
    transform: rotate(-90deg) /*translateX(45dvh)*/;
    text-wrap: wrap;
    font-variant-ligatures: discretionary-ligatures;
    border: none;

  }
  
  textarea::placeholder {
    color: black;
  }
  
  label {
    user-select: none;
  }

#container {
  display: flex;
  justify-content: center; 
  align-items: center;
  height: 60vh; 
}
#sticky {
  z-index: 2;
  position: sticky;
  top: 5px;
}
